<div id="left-column">
  <section id="company-info">    
    <h2 id="logo" class="bold"><%= InvoiceFormData::COMPANY[:name] %></h2>
    <div><%= InvoiceFormData::COMPANY[:tagline] %></div>
    <div><%= InvoiceFormData::COMPANY[:street] %></div>
    <div>
      <%= InvoiceFormData::COMPANY[:city] %>
      <%= InvoiceFormData::COMPANY[:state] %>
      <%= InvoiceFormData::COMPANY[:zip_code] %>
    </div>
    <div>
      Phone <%= InvoiceFormData::COMPANY[:phone] %>
      &bull;
      Fax <%= InvoiceFormData::COMPANY[:fax] %>
    </div>
  </section>
  <h3>sold to:</h3>
  <!-- <div id="client-info"></div> -->
  <div class="overlap">
    <div>ATTN: Accounts Payable</div>
    <!--either make a directive which inserts a textfield into #client-name -->
    <!-- or, use a view helper on the backend -->
    <% InvoiceFormData::CLIENT_DATA.each do |field| %>
      <%= render partial: 'form_group', locals: {field: field[:field_name], width: field[:width]}, object: invoice_form %>  
    <% end %>
  </div>
  <h3>shipped to:</h3>
  <div class="overlap">
    <div><%= invoice_form.text_area :shipping_data, ng_model: 'shipping_data'.camelize(:lower) %></div>
  </div>
</div>
<div id="right-column">
  <h1>Invoice {{invoiceNumber}}</h1>
  <p>Please indicate invoice numbers on all remittances</p>
  <div class="page">
    <h3>Page</h3>
    <div>
      <%= InvoiceFormData::INVOICE_FORM_FIELDS[:pages] %>
      of
      <%= InvoiceFormData::INVOICE_FORM_FIELDS[:pages] %>
    </div>
  </div>
  <div class="date">
    <h3>Date</h3>
    <div><%= render partial: 'datepicker', locals: {attribute: 'invoice_date'}, object: invoice_form, as: 'form' %></div>
  </div>
  <div class="po-number">
    <h3>Your Purchase Order</h3>
    <div></div>
  </div>
  <div class="date">
    <h3>Date</h3>
    <div><!-- {{poNumberDate}} --></div>
  </div>
  <div class="terms">
    <h3>Terms of Payment: 30 Days Net</h3>
    <div><!-- {{terms}} --></div>
  </div>
  <div class="reference-number">
    <h3>Our Reference Number</h3>
    <div><!-- {{referenceNumber}} --></div>
  </div>
</div>
<div id="extra-fields">
  <div id="fob-point">
    <h3>f.o.b. point</h3>
    <div></div>
  </div>
  <div id="carriers-name">
    <h3>Carrier's name</h3>
    <div></div>
  </div>
  <div id="shipped-via">
    <h3>shipped via</h3>
    <div></div>
  </div>
  <div id="freight-term"> 
    <h3>freight term</h3>
    <div></div>
  </div>
  <div id="st-tax"> 
    <h3>st. tax for</h3>
    <div></div>
  </div>
  <div id="pco">
    <h3>pco</h3>
    <div></div>
  </div>
  <div id="tax-determination">
    <h3>tax determination</h3>
    <div></div>
  </div>
</div>
<table id="line-items">
  <tr>
    <th class="item">item no.</th>
    <th class="quantity">quantity</th>
    <th class="list-number">list number</th>
    <th class="description">description/serial no.</th>
    <th class="subtotal"></th>
    <th class="total">total</th>
  </tr>
</table>
<!-- empty divs with borders -->
<div class="filler item"></div>
<div class="filler quantity"></div>
<div class="filler list-number"></div>
<div class="filler description">
  <div> 
    <%= render partial: 'inline_text_field', locals: {attribute: :service_report_number}, object: invoice_form, as: :form %>
    <%= render partial: 'datepicker', locals: {attribute: 'service_report_date'}, object: invoice_form, as: 'form' %>
  </div>
  <div>
    <%= render partial: 'inline_text_field', locals: {attribute: :x_ray_machine_make}, object: invoice_form, as: :form %> 
    <%= render partial: 'inline_text_field', locals: {attribute: :x_ray_machine_model}, object: invoice_form, as: :form %>
  </div>
  <div>
    <%= render partial: 'inline_text_field', locals: {attribute: :labor}, object: invoice_form, as: :form %>
    <%= render partial: 'inline_text_field', locals: {attribute: :hourly_rate}, object: invoice_form, as: :form %>
  </div>
</div>
<div class="filler subtotal"></div>
<div class="filler total"></div>
<footer>
  <p>Please remit to: <span class="bold">national radiographic systems, inc.</span></p>
  <p>past due invoices are subject to a <span class="bold">service charge</span> of 1.5% per month, equal to 18% per year, where applicable</p>
</footer>