<div id="left-column">
  <section id="company-info">    
    <h2 id="logo" class="bold"><%= InvoiceFormData::COMPANY[:name] %></h2>
    <div><%= InvoiceFormData::COMPANY[:tagline] %></div>
    <div><%= InvoiceFormData::COMPANY[:street] %></div>
    <div>
      <%= InvoiceFormData::COMPANY[:city] %>
      <%= InvoiceFormData::COMPANY[:state] %>
      <%= InvoiceFormData::COMPANY[:zip_code] %>
    </div>
    <div>
      Phone <%= InvoiceFormData::COMPANY[:phone] %>
      &bull;
      Fax <%= InvoiceFormData::COMPANY[:fax] %>
    </div>
  </section>
  <h3>sold to:</h3>
  <!-- <div id="client-info"></div> -->
  <div class="overlap">
    <div>ATTN: Accounts Payable</div>
    <% InvoiceFormData::CLIENT_DATA.each do |field| %>
      <%= render partial: 'form_group', locals: {field: field[:field_name], width: field[:width]}, object: invoice_form, as: :form %>  
    <% end %>
  </div>
  <h3>shipped to:</h3>
  <div class="overlap">
    <div><%= render partial: 'form_group', locals: {field: 'hospital_department', width: 6}, object: invoice_form, as: :form %></div>
    <div><%= render partial: 'form_group', locals: {field: 'hospital_room', width: 6}, object: invoice_form, as: :form %></div>
  </div>
</div>
<div id="right-column">
  <h1>Invoice</h1><%= render partial: 'inline_text_field', locals: {attribute: 'invoice_number'}, object: invoice_form, as: :form %>
  <p>Please indicate invoice numbers on all remittances</p>
  <div class="page">
    <h3>Page</h3>
    <div>
      <%= InvoiceFormData::INVOICE_FORM_FIELDS[:pages] %>
      of
      <%= InvoiceFormData::INVOICE_FORM_FIELDS[:pages] %>
    </div>
  </div>
  <div class="date">
    <h3>Date</h3>
    <div><%= render partial: 'datepicker', locals: {attribute: 'invoice_date'}, object: invoice_form, as: 'form' %></div>
  </div>
  <% InvoiceFormData::RIGHT_COLUMN.each do |container| %>
    <%= render partial: 'container', locals: {id: container[:id], heading: container[:heading]} %>   
  <% end %>
</div>
<div id="extra-fields">
  <% InvoiceFormData::EXTRA_FIELDS.each do |container| %>
    <%= render partial: 'extra_field', locals: {id: container[:id], heading: container[:heading]} %>
  <% end %>
</div>
<table id="line-items">
  <tr>
    <th class="item">item no.</th>
    <th class="quantity">quantity</th>
    <th class="list-number">list number</th>
    <th class="description">description/serial no.</th>
    <th class="subtotal"></th>
    <th class="total">total</th>
  </tr>
</table>
<!-- empty divs with borders -->
<div class="filler item"></div>
<div class="filler quantity"></div>
<div class="filler list-number"></div>
<div class="filler description">
  <div> 
    <%= render partial: 'inline_text_field', locals: {attribute: :service_report_number}, object: invoice_form, as: :form %>
    <%= render partial: 'datepicker', locals: {attribute: 'service_report_date'}, object: invoice_form, as: :form %>
  </div>
  <div>
    <%= render partial: 'inline_text_field', locals: {attribute: :labor}, object: invoice_form, as: :form %>
    <%= render partial: 'inline_text_field', locals: {attribute: :labor_hourly_rate}, object: invoice_form, as: :form %>
  </div>
  <div>
    <%= render partial: 'inline_text_field', locals: {attribute: :travel}, object: invoice_form, as: :form %>
    <%= render partial: 'inline_text_field', locals: {attribute: :travel_hourly_rate}, object: invoice_form, as: :form %>      
  </div>
</div>
<div class="filler subtotal"></div>
<div class="filler total"></div>
<footer>
  <p>Please remit to: <span class="bold">national radiographic systems, inc.</span></p>
  <p>past due invoices are subject to a <span class="bold">service charge</span> of 1.5% per month, equal to 18% per year, where applicable</p>
</footer>